body{
    background-color:purple;
    
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  text-align: center;
  height: 50vw;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  margin-top: 20%;
  color: white;
}
.fade-in {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 25px;
  top: -10%;
  /* background-color: rgb(61, 63, 62); */
  width: 17rem;
  opacity: 0;
  padding-right: 10px;
  transition: opacity 0.5s ease-in-out;
  animation: fadeIn 1.5s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#text-one {
  background-color: black; 
  z-index: 9;
}
#text-two {
  position: absolute;
  transform: translateX(-60px);
  z-index: 1;
  animation: slideRight 1.2s ease-in-out 0.5s forwards;
}
@keyframes slideRight {
  to {
    transform: translateX(110px);
  }
}
.splash {
  animation: slideUp 1s ease-in-out forwards;
  animation-delay: 2s;
}
@keyframes slideUp {
  
  100%{
    top: -50vw;
    display: none;
  }
}
